@define-color bg    #1a1b26; 
/* @fg format text color of all who doesn't have a custom color */
@define-color fg    #a9b1d6; 

@define-color blk   #32344a; 
@define-color gold  #EFBF04;
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

/*******************************
********  UNIVERSAL  ***********
********************************/
* {
	margin: 0px;
	padding: 0px;
}

window#waybar {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    border: none;
    background: transparent;
    color: @fg;
}

/*#custom-workspaces1,
#custom-workspaces2,
#custom-workspaces3,
#custom-workspaces4,
#custom-workspaces5,
#custom-workspaces6,
#custom-workspaces7,
#custom-workspaces8,
#custom-workspaces9,
#custom-workspaces10,
#workspaces,
*/
#window,
window#waybar.top label.module {
    border-radius: 2px;
}

/***********************************
*********  LEFT MODULE  ************
************************************/
/*#workspaces {
		font-size: 16px;
		margin-left: 10px;
		padding: 0px;
}

#workspaces button {
		margin-right: 8px;
		margin-bottom: 0px;
		padding:  0px;
		
}

#workspaces button:not(.empty) {
   color: @cyn;
}
#workspaces button.empty{
    color: @brblk;
}
#workspaces button.active {
    border-bottom: 3px solid @mag;
}
#workspaces button.urgent {
    background-color: @red;
}
#workspaces button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}*/

/***********************************
*********  WORKSPACES  *************
************************************/

#custom-workspace1,
#custom-workspace2,
#custom-workspace3,
#custom-workspace4,
#custom-workspace5,
#custom-workspace6,
#custom-workspace7,
#custom-workspace8,
#custom-workspace9,
#custom-workspace10 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-right: 8px;
    padding: 2px;
}
#custom-workspace6 {
		margin-left: 8px;
}
 
/* Workspaces containing windows */
#custom-workspace1.occupied,
#custom-workspace2.occupied,
#custom-workspace3.occupied,
#custom-workspace4.occupied,
#custom-workspace5.occupied,
#custom-workspace6.occupied,
#custom-workspace7.occupied,
#custom-workspace8.occupied,
#custom-workspace9.occupied,
#custom-workspace10.occupied {
    color: @cyn;
}

/* Empty workspaces */
#custom-workspace1.empty,
#custom-workspace2.empty,
#custom-workspace3.empty,
#custom-workspace4.empty,
#custom-workspace5.empty,
#custom-workspace6.empty,
#custom-workspace7.empty,
#custom-workspace8.empty,
#custom-workspace9.empty,
#custom-workspace10.empty {
    color: @brblk;
}


/* Active workspace */
/*
#custom-workspace1.active label,
#custom-workspace2.active label,
#custom-workspace3.active label,
#custom-workspace4.active label,
#custom-workspace5.active label,
#custom-workspace6.active label,
#custom-workspace7.active label,
#custom-workspace8.active label,
#custom-workspace9.active label,
#custom-workspace10.active label {
    color: @cyn;
    border-bottom: 3px solid red;
}
*/

#custom-workspace1.active,
#custom-workspace2.active,
#custom-workspace3.active,
#custom-workspace4.active,
#custom-workspace5.active,
#custom-workspace6.active,
#custom-workspace7.active,
#custom-workspace8.active,
#custom-workspace9.active,
#custom-workspace10.active {
		color: @ylw;
	
	}


/* Hover */
#custom-workspace1:hover,
#custom-workspace2:hover,
#custom-workspace3:hover,
#custom-workspace4:hover,
#custom-workspace5:hover,
#custom-workspace6:hover,
#custom-workspace7:hover,
#custom-workspace8:hover,
#custom-workspace9:hover,
#custom-workspace10:hover {
    background: #ffffff;
   /* background: inherit;
    box-shadow: inset 0 -3px #ffffff;
*/
	 }


#window {
		font-size: 16px;
}

/***********************************
********  CENTER MODULE  ***********
************************************/
#clock {
   /* Size for the format-alt text is set in the .jsonc file */
   font-size: 28px; 
	 font-weight: bold;
   color: #ff0033;
}
#custom-timer.work {
  background: #1e1e2e;
}
#custom-timer.break {
  background: #204020;
}
#custom-timer.warning {
  background: #b52020;
  color: #ffffff;
  font-weight: bold;
}

#custom-backup {
    color: #88c0d0;
}



/************************************
*********  RIGHT MODULE  ************
*************************************/
#disk,
#memory,
#cpu,
#network,
#pulseaudio,
#pulseaudio-microphone,
#battery,
#backlight,
#custom-systemprompt,
#tray {
	font-size: 18px;
	padding-right: 18px;
}

#disk {
    color: @ylw;
}

#memory {
    color: @mag;
}

#cpu {
    color: @grn;
}

#network {
		color: @red
}

#network.disconnected {
    color: @blk;
		background-color: @red;
}

#pulseaudio,
#pulseaudio#microphone {
    color: @gold;
}

#battery {
    color: @blu;
}

#backlight {
    color: @gold;
}

#custom-systemprompt {
    font-size: 28px;
    color: @cyn;
}


#tray {
    background-color: #2981b9;
}

