@define-color bg    #1a1b26; 
/* @fg format text color of all who doesn't have a custom color */
@define-color fg    #a9b1d6; 

@define-color blk   #32344a; 
@define-color gold  #EFBF04;
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

/*******************************
********  UNIVERSAL  ***********
********************************/
* {
	margin: 0px;
	padding: 0px;
}

window#waybar {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    border: none;
    background: transparent;
    color: @fg;
}

#workspaces,
#window,
window#waybar.top label.module {
    border-radius: 2px;
}

/***********************************
*********  LEFT MODULE  ************
************************************/
#workspaces {
		font-size: 16px;
		margin-left: 8px;
		padding: 0px;
}

#workspaces button {
		margin-right: 8px;
		margin-bottom: 0px;
		padding:  0px;
		
}

#workspaces button:not(.empty) {
   color: @cyn;
}
#workspaces button.empty{
    color: @brblk;
}
#workspaces button.active {
    border-bottom: 3px solid @mag;
}
#workspaces button.urgent {
    background-color: @red;
}
#workspaces button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#window {
		font-size: 20px;
}

/***********************************
********  CENTER MODULE  ***********
************************************/
#clock {
   /* Size for the format-alt text is set in the .jsonc file */
   font-size: 24px; 
   color: @cyn;
}


#custom-timer.work {
  background: #1e1e2e;
}
#custom-timer.break {
  background: #204020;
}
#custom-timer.warning {
  background: #b52020;
  color: #ffffff;
  font-weight: bold;
}

#custom-backup {
    color: #88c0d0;
}



/************************************
*********  RIGHT MODULE  ************
*************************************/
#disk,
#memory,
#cpu,
#network,
#pulseaudio,
#pulseaudio-microphone,
#battery,
#backlight,
#custom-systemprompt,
#tray {
	font-size: 18px;
	padding-right: 18px;
}

#disk {
    color: @ylw;
}

#memory {
    color: @mag;
}

#cpu {
    color: @grn;
}

#network {
		color: @red
}

#network.disconnected {
    color: @blk;
		background-color: @red;
}

#pulseaudio,
#pulseaudio#microphone {
    color: @gold;
}

#battery {
    color: @blu;
}

#backlight {
    color: @gold;
}

#custom-systemprompt {
    font-size: 28px;
    color: @cyn;
}


#tray {
    background-color: #2981b9;
}
